
<mat-card class="container">
  <!-- <mat-card-title>Mat DataTable</mat-card-title> -->
  <mat-card-content>
    <div class="search-hero">
      <input type="text" placeholder="Search..." class="search" (input)="term$.next($any($event.target).value)">

      <button mat-icon-button color="primary" (click)="addEventTypes()" title="Add">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="abmObject">
  <app-eventtype-abm [abmEventType]=true [eventTypeSelected]=evenntSelected></app-eventtype-abm>
</ng-container>
<ng-container *ngIf="!abmObject">
  <app-eventtypelist [dataPerson]=eventType></app-eventtypelist>
</ng-container>


