<div>

  <div class="mat-elevation-z8">
    <div>

      <table mat-table [dataSource]="dataEvent" class="table"
             matSort matSortActive="Title"
             matSortDisableClear matSortDirection="desc">
        <!-- first name Column -->
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>

        <!-- second name Column -->
        <ng-container matColumnDef="Description" class="text-wrap">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{row.description}} </td>
        </ng-container>

        <ng-container matColumnDef="EventDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">{{row.eventDate| date}}</td>
        </ng-container>

        <ng-container matColumnDef="EventType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Type</th>
          <td mat-cell *matCellDef="let row">{{row.eventType.name}}</td>
        </ng-container>

        <ng-container matColumnDef="Person1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Person1</th>
          <td mat-cell *matCellDef="let row">{{row.person1.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="Person2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Person2</th>
          <td mat-cell *matCellDef="let row">{{row.person2?.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="Person3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Person2</th>
          <td mat-cell *matCellDef="let row">{{row.person3?.firstName}}</td>
        </ng-container>

        <!-- order Column -->
        <ng-container matColumnDef="Location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
          <td mat-cell *matCellDef="let row">{{row.location}}</td>
        </ng-container>


        <!-- media Column -->
        <ng-container matColumnDef="Photos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Media</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="viewEventMedia(row)" title="Photos">
              <mat-icon>search</mat-icon>
              <!--{{row.media?.length}}-->
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <tr>
            <th mat-header-cell *matHeaderCellDef> Action </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:20%">
              <button mat-icon-button color="primary" (click)="viewEvent(row)" title="View">
                <mat-icon>preview</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="editEvent(row)" title="Edit">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          <tr>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="15"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
