<div class="mat-card">


  <app-filter-states></app-filter-states>
  <form class="form mat-card" [formGroup]="state" flex="50" fxLayout="column" (ngSubmit)="saveState(state)">


    <mat-form-field class="ml-6 mat-form-field--inline" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput inputmode="text" placeholder="Name *" formControlName="name" #nameInput>
    </mat-form-field>

    <mat-form-field class="ml-6 mat-form-field--inline" appearance="fill">
      <mat-label>Code</mat-label>
      <input matInput inputmode="text" placeholder="Code *" formControlName="code" #nameInput>
    </mat-form-field>

    <mat-form-field class="ml-3 mat-form-field--inline" flex="50" fxLayout="column" appearance="fill">
      <mat-label>Capital</mat-label>
      <input matInput inputmode="text" placeholder="Capital" formControlName="capital" #nameInput>
    </mat-form-field>

    <mat-form-field class="ml-6 mat-form-field--inline" appearance="fill">
      <mat-label>Region</mat-label>
      <input matInput inputmode="text" placeholder="Region *" formControlName="region" #nameInput>
    </mat-form-field>

    <mat-form-field class="ml-6 mat-form-field--inline" appearance="fill">
      <mat-label>Coordinates</mat-label>
      <input matInput inputmode="text" placeholder="Coordinates *" formControlName="coordinates" #nameInput>
    </mat-form-field>

  
    <div class="clear position-buttons">

      <button class="space-buttons" mat-raised-button color="primary" type="submit" [disabled]="!state.valid">{{buttonAction}}</button>
      <button class="space-buttons" mat-raised-button color="basic" type="button" (click)="ResetForm()">Clean</button>
      <button class="space-buttons" mat-raised-button color="warn" type="button" (click)="Cancel()">Cancel</button>
    </div>
  </form>
</div>
