/* You can add global styles to this file, and also import other style files */

@import url('./assets/Css/awesome/fontawesome.min.css');

html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding-top: 50px;
  padding-bottom: 10px;
}

.search-hero {
  width: 50%;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.search {
  height: 30px;
  padding: 0px;
  font-size: 25px;
  margin: 5px 0;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

  .form-control::placeholder {
    font-family: FontAwesome;
  }

.table {
  width: 100%;
}



::ng-deep .mat-mdc-form-field .mat-mdc-input-element {
  color: slategray;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field .mat-form-field-label {
  color: slategray !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field .mat-form-field-underline {
  background-color: slategray;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field .mat-form-field-ripple {
  background-color: slategray;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field .mat-form-field-required-marker {
  color: slategray;
}


/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field.mat-focused .mat-form-field-label {
  color: #ff884d !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ff884d;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field.mat-focused .mat-form-field-required-marker {
  color: #ff884d;
}

::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-input-element {
  color: #ff884d;
}



::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mat-mdc-input-element {
  color: #ff33cc;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #ff33cc !important;
}

  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #ff33cc;
  }

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #ff33cc;
}

.mat-form-field--inline {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  margin: 1%;
}

  .mat-mdc-form-field--inline .mat-form-field {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
  }

    .mat-mdc-form-field--inline .mat-form-field:nth-child(1) {
      margin-right: 10px;
    }

.radio-group {
  /* display: flex; */
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.numberOnly {
  width: 50%;
}

.space-buttons {
  margin: 8px 8px 8px 0 !important;
}

.position-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


.specialWidth{
    width:350px;
}

.text-wrap {
  inline-size: 150px;
  overflow-wrap: break-word;
}


/*tree view*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 650px;
}

svg {
  font: 10px sans-serif;
}

.linage {
  fill: none;
  stroke: #000;
}

.marriage {
  fill: none;
  stroke: black;
}

.man {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
}

.woman {
  background-color: pink;
  border-style: solid;
  border-width: 1px;
}

.emphasis {
  font-style: italic;
}

p {
  padding: 0;
  margin: 0;
}

.node {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
}

.nodeText {
  font: 10px sans-serif;
}

.marriageNode {
  background-color: black;
  border-radius: 50%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
