<div>
  <div class="row">
    <div class="col-sm-12 btn btn-primary">
      Image Gallery
    </div>
  </div>
  <div class="row" style="margin-top:10px;margin-bottom: 10px;">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success" (click)="filterBy='all'">All</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success" (click)="filterBy='Apple'">Apple</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success" (click)="filterBy='hp'">Hp</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success" (click)="filterBy='Lenovo'">Lenovo</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success" (click)="filterBy='asus'">Asus</button>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div class="row">
    <ul>
      <li *ngFor="let img of (allImages | tagfilterimages:filterBy)">
        <a [routerLink]="['/image', img.id]">
          <img src="{{img.url}}" class="img" width="240" height="170">
        </a>
      </li>
    </ul>
  </div>
</div>    
