<div class="mat-card">

  <ng-container *ngIf="abmCountry">
    <mat-label>Country</mat-label>
    <app-country-abm [abmCountry]=true [countrySelected]=countrySelected></app-country-abm>
  </ng-container>

  <ng-container *ngIf="abmState">
    <mat-label>States</mat-label>
    <app-state-abm [abmState]=true [stateSelected]=stateSelected></app-state-abm>
  </ng-container>

  <ng-container *ngIf="abmCity">
    <mat-label>City</mat-label>
    <app-city-abm [abmCity]=true [citySelected]=citySelected></app-city-abm>
  </ng-container>

</div>
