.img-container {
  margin: 13px;
  box-shadow: rgb(211, 31, 31) 1px 2px 8px 1px;
  min-height: 600px;
  min-width: 800px;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
}
