<div class="mat-card">

  <form class="form mat-card" [formGroup]="event" flex="50" fxLayout="column" (ngSubmit)="SaveEvent(event)">


    <mat-form-field class="ml-6 mat-form-field--inline" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput inputmode="text" placeholder="Title *" formControlName="title" #nameInput>
    </mat-form-field>

    <mat-form-field class="ml-3 mat-form-field--inline" flex="50" fxLayout="column" appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput inputmode="text" placeholder="Description" formControlName="description" #nameInput>
    </mat-form-field>

    <mat-form-field class="mat-form-field--inline" appearance="fill">
      <mat-label>EventDate</mat-label>
      <input matInput inputmode="date" [matDatepicker]="EventDate" formControlName="eventDate">
      <mat-datepicker-toggle matSuffix [for]="EventDate">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #EventDate></mat-datepicker>
      <mat-hint>DD/MM/YYYY</mat-hint>
    </mat-form-field>

    <app-filter-EventType [dataEventType]="selectedEventType"></app-filter-EventType>

    <app-filter-People [dataPeople]="personSelectedData1"></app-filter-People>
    <app-filter-People [dataPeople]="personSelectedData2"></app-filter-People>
    <app-filter-People [dataPeople]="personSelectedData3"></app-filter-People>

    <mat-form-field class="mat-form-field--inline" appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput inputmode="text" placeholder="Location" formControlName="location" #nameInput>
    </mat-form-field>

    <mat-form-field class="mat-form-field--inline" appearance="fill">
      <mat-label>Photos</mat-label>
      <input matInput inputmode="text" placeholder="Photos" formControlName="media" #nameInput>
    </mat-form-field>
    <div class="clear position-buttons">

      <button class="space-buttons" mat-raised-button color="primary" type="submit" [disabled]="!event.valid">Add</button>
      <button class="space-buttons" mat-raised-button color="basic" type="button" (click)="ResetForm()">Clean</button>
      <button class="space-buttons" mat-raised-button color="warn" type="button" (click)="Cancel()">Cancel</button>
    </div>
  </form>
</div>
